*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo img{
    height: 3rem;
}

.logo a{
    text-decoration: none;
    color: aliceblue;

}
.logo a:hover{
    color: red;   
}
.logo ul{
    display: flex;
    gap: 3%;
    justify-content: space-around;
    align-items: center;
}
.logo li{
    display: flex;
}


.logo{
    align-items: end;
    background-color: #5A56BF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgs{
width: 40%;
}
.banner{
    width: 75%;
    margin: 0 auto;
    display: flex ;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Russo One', sans-serif;
    color: rgb(0, 0, 0);
    
}
.banner h2{
    color:#326DF0;
    text-align: center;
    font-size: 200%;
}


#textoInicial{
    margin-left: 6%;
}


.video{
    width: 50%;
    aspect-ratio: 16/9;
    margin:0 auto;
    display: block;
    margin-bottom: 10%;
}
#home{
    margin: 4%;
}

.rodape{
    background-color:#326DF0 ;
    height: 5em;
    display:flex ;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    background-color: #a1c7e74f;
}

.bannerRiei{
    width: 75%;
    margin: 0 auto;
    display: flex ;
    align-items: flex-start;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Russo One', sans-serif;
    color: rgb(0, 0, 0);
    
}
.bannerRiei h2{
    color:#326DF0;
    text-align: center;
    font-size: 200%;
}
